*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.h-wrapper{
    padding: 0 2vh;
    height: 7vh;
    background-color: #131921;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.h-logo-cntry{
    gap: 3vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 14vw;
    height: 6vh;
}
.h-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 6vw;
}
.h-logo:hover{
    
    border: 1.5px solid white;
    border-radius: 2px;
}

.h-logo a img{
    padding-left: 1vh;
    height: 60%;
    width: 90%;
}
.h-cntry{
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 95%;
    width: 5.5vw;
}
.h-cntry:hover{
    border: 1.5px solid white;
    border-radius: 2px;
}

.cntry-title{
    color: white;
    line-height: 0vh;
    margin-bottom: 1vh;
}
.cntry-title p{
    font-size: 1.5vh;
}
.cntry-title span{
    font-size: 2vh;
    font-weight: 700;
}



.h-srch{
    display: flex;
    height: 70%;
    width: 58vw;
    /* background-color: aliceblue; */
    border-radius: 3px;
}
.h-srch select{
    border-top-left-radius:5px ;
    border-bottom-left-radius:5px ;
    background-color: #E6E6E6;
    padding: 1vh 0.5vh;
    font-size: 1.5vh;
    border: 1px solid #E6E6E6;
    height: 100%;
    width: 3vw;
}
.h-srch select:hover{
    border: 3px solid #FF9900;
}
.h-srch input{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8vh;
    font-weight: 500;
    padding-left: 1vh;
    background-color: #FFFFFF;
    width: 52.5vw;
    border: none;
    height: 100%;
}
.h-srch button{
    width: 2.5vw;
    height: 100%;
    border: 1px solid #FEBD69;
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;
    background-color: #FEBD69;
}
.h-srch button:hover{
    background-color: #F3A847;
}
.h-lang{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3vh;
    height: 80%;
    width: 4vw;
    margin-left: 3vh;
}
.h-lang:hover{
    border: 1.5px solid white;
    border-radius: 2px;
}
.lang-icon img{
    height: 3vh;
    width: 1.5vw;
}
.lang-slct{
    color: #E6E6E6;
    padding-top: .4vh;
    font-size: 2vh;
    font-weight: 600;
}
.h-acc-list{
    padding-left: 1vh;
    margin-left: 1vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 7vw;
    color: white;
    height: 90%;
    color: white;
    
    line-height: 0vh;
    /* margin-bottom: 1vh; */
}
.h-acc-list:hover{
    border: 1.5px solid white;
    border-radius: 2px;
}

.h-acc-list p{  
    font-size: 1.4vh;
    font-weight: 600;
}
.h-acc-list span{
    font-size: 1.7vh;
    font-weight: 700;
}




.h-rtrn{
    padding-left: 1vh;
    margin-left: 1vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 5vw;
    color: white;
    height: 90%;
    color: white;
    
    line-height: 0vh;
    /* margin-bottom: 1vh; */
}
.h-rtrn:hover{
    border: 1.5px solid white;
    border-radius: 2px;
}

.h-rtrn p{
    font-size: 1.4vh;
    font-weight: 600;
}
.h-rtrn span{
    font-size: 1.7vh;
    font-weight: 700;
}
.h-cart{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 90%;
    width: 5vw;
    color: #FFFFFF;
}
.h-cart:hover{
    border: 1.5px solid white;
    border-radius: 2px;
}
.h-cart span{
    padding-bottom: .5vh;
    
    font-weight: 600;
}
.h-cart i{
    color: #FFFFFF;
    font-size: 4vh;
}
/* -----------------------------------------------Post Header------------------------------- */

.ph-wrapper{
    height: 5vh;
    background-color: #232F3E;    
    padding: 0 2vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.ph-all{
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5vw;
    height: 90%;
}
.ph-all:hover{
    border: 1.5px solid white;
    border-radius: 2px;
}
.ph-all i{
    font-size: 3vh;
    font-weight: 900;
}
.ph-all span{
    font-size: 2vh;
    font-weight: 600 ;
}
.ph-categories{
    padding-left: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: auto;
}
.ph-categories a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.5vh;
    width: auto;
    height: 90%;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.7vh;
    font-weight: 500;
}
.ph-categories a:hover{
    border: 1.5px solid white;
    border-radius: 2px;
}




/* --------------------------------footer------------------------------------ */
.pre-footer{
    text-align: center;
    line-height: 6vh;
    height: 6vh;
    background-color: #37475A;
    
}
.pre-footer a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.6vh;
    font-weight: 600;
}
.pre-footer:hover{
    background-color: #485769;
}
.footer-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #232F3E;
    height: 45vh;
    border-bottom: 1px solid #485769;
}
.footer{
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 32vh;
}
.footerlinks{
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}
.footerlinks h6{
    font-size: 1.8vh;
    font-weight: 600;
}
.f-links{
    gap: .8vh;
    display: flex;
    flex-direction: column;
}
.f-links a{
    color: #DDDDD3;
    text-decoration: none;
    font-size: 1.6vh;
}
.f-links a:hover{
    text-decoration: underline;
}
.footer-2{
    gap: 10vh;
    height: 15vh;
    background-color: #232F3E;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}
.f-logo a img{
    height: 3vh;
    width: 5vw;
}
.f2-links{
    display: flex;
    gap: 2vh;
    height: 5vh;
    width: 30vw;
}
.f2-links a{
    display: flex;
    align-items: center;
    gap: 1vh;
    border-radius: 2px;
    text-align: center;
    line-height: 4vh;
    text-decoration: none;
    color: #DDDDD3;
    border: 1px solid #727880;
    padding: 0 2vh;
    width: auto;
    height: 4vh;
    font-size: 1.6vh;
    font-weight: 600;
}
.f2-links a img{
    height: 2vh;
    width: 1vw;
}
.p-footer-wrapper{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
    justify-content: center;
    background-color: #131921;
    height: 60vh;
}
.p-footer{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 60%;
}
.p-footer-links{
    display: flex;
    flex-direction: column;
    width: 5vw;
}
.p-footer-links:hover a{
    text-decoration: underline;
}
.p-footer-links a{
    line-height: 1.8vh;
    font-size: 1.5vh;
    text-decoration: none;
    color: #999999;
}
#p-link{
    color: #FFFFFF;
    line-height: 1.7vh;
    font-size: 1.6vh;
}
.p-footer1{
    display: flex;
    justify-content: flex-start;
    gap: 8.5vh;
    height: 10vh;
    width: 60%;
}
.p-footer2{
    gap: .5vh;
    height: 15vh;
    background-color: #131921;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.p-footer2-links{
    display: flex;
    gap: 2vh;
}
.p-footer2-links a{
    font-size: 1.6vh;
    text-decoration: none;
    color: #FFFFFF;
}
.p-footer2-links a:hover{
    text-decoration: underline;
}
.p-footer2-desc span{
    font-weight: 500;
    word-spacing: .1vh;
    letter-spacing: .1vh;
    font-size: 1.6vh;
    color: #FFFFFF;
}